nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 250px;
    padding: 10px 14px;   
    background-color:beige;
}

nav .logo-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;    
}

nav .logo-image img{
    width: 60px;
    height: 60px;
    object-fit: cover; 
}

nav .logo-name .logo_name{
    font-size: 26px;
    font-weight: 600;
    margin-left: 14px;
    color: #1c1e1d;   
}

nav .menu-items{
    margin-top: 30px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .menu-items li{
    list-style: none;
}

nav .menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    border: 1px solid red;
} 

nav .menu-items li a i{
    border: 2px solid red;
}



