.flex-dashboard{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 250px;
    padding: 10px 14px;   
    background-color: #87887e;
}

.flex-dashboard .sidebar{
    display: flex;
    align-items: center;
}

.flex-dashboard .sidebar-title{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

.flex-dashboard .sidebar-title img{
    width: 40px;
    object-fit: cover;
}

.flex-dashboard .sidebar .logo-name{
    font-size: 25px;
    margin-left: 14px;
    color: black;

}

/* .flex-dashboard .sidebar{
    display: block;
    height: 100%;
    width: 300px;
   

.flex-dashboard .sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    height: 90px; 
}

.flex-dashboard .sidebar .sidebar-title img{
    width: 60px;
    height: 60px;
}

.flex-dashboard .sidebar .sidebar-title h2{
    font-size: 20px;
    margin-top: 10px;
}

.sidebar .menu{
    background-color: red;
    margin-top: 10px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu li{
    list-style: none;
}

.menu li a{
    display: flex;
    align-items: center;
    height: 80px;
    text-decoration: none;
    
} */
