nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 250px;
    padding: 10px 14px;   
    background-color: #87887e;
    border: 2px solid red;
}

nav .logo-name{
    display: flex;
    align-items: center;
    border: 2px solid blue;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
    border: 2px solid green;
}

nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid red;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    margin-left: 14px;
    color: black;
    border: 2px solid orange;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid lightskyblue;
}

.menu-items li{
    list-style: none;
    border: 2px solid red;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
    border: 2px solid black;
}