<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/all.css">
    <link rel="stylesheet" href="../Plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>

<body>

    <div class="flex-dashboard">
        <div class="sidebar">
            <div class="sidebar-title">
                <img src="../Images/cardiogram-small.png" alt="">
            </div>
            <span class="logo-name">Health Track</span>
            <div class="menu">
                <ul class="nav-links">
                    <li><a href="#"><i class="fa-solid fa-house-chimney"></i>
                    <span class="link-name">Dashboard</span></a></li>
                    <li><a href="#">Peso</a></li>
                    <li><a href="#">Peso</a></li>
                    <li><a href="#">Peso</a></li>
                    <li><a href="#">Peso</a></li>
                    <li><a href="#">Peso</a></li>
                    <li><a href="#">Peso</a></li>
                </ul>
                <div class="sub-menu">
                    <ul>
                        <li><a href="#">DarkMode</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- <div class="main">
            <div class="header">
                <a href="#"><i class="fa-solid fa-house-laptop"></i> Dashboard</a>
                <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
            </div>
            <div class="main-content">
                <p>Main</p>
            </div>
        </div> --> 

    </div>

    <script src="../Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../Plugins/fontawesome/js/all.min.js"></script>
</body>

</html>