<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/all.css">
    <link rel="stylesheet" href="../Plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>

<body>

    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../Images/cardiogram.png" alt="">
            </div>

            <span class="logo_name">Health Track</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="fa-solid fa-house-chimney"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-file-circle-check"></i>
                    <span class="link-name">Content</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span class="link-name">Analytics</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span class="link-name">Likes</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-comment-dots"></i>
                    <span class="link-name">Comentarios</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-envelope-circle-check"></i>
                    <span class="link-name">Contact</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-person-walking-arrow-right"></i>
                    <span class="link-name">Dasboard</span>
                </a></li>               
            </ul>
            <ul class="logout-mode">
                <li><a href="#">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="link-name">Logout</span>
                    </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>             
                </li>
            </ul>
        </div>

    </nav>

    <script src="../Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../Plugins/fontawesome/js/all.min.js"></script>
</body>

</html>