<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/all.css">
    <link rel="stylesheet" href="../Plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>
<body>

    <div class="flex-dashboard">
        <div class="sidebar">
            <div class="sidebar-title">
                <!-- <img src="../Images/cardiogram.png" alt="">
                <h2>Health Track</h2> -->
            </div>

        </div>
        <div class="main">
            <div class="header">
    
            </div>
            <div class="main-content">
    
            </div>
        </div>
    
    </div>

    <script src="../Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../Plugins/fontawesome/js/all.min.js"></script>
</body>
</html>