<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/all.css">
    <link rel="stylesheet" href="../Plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Plugins/fontawesome/css/all.min.css">
    <title>Health Track</title>
</head>
<body>
    <div class="register-parent">
        <div class="register">
            <div class="register-title">
                <img src="../Images/cardiogram.png" alt="">
                <h2>Health Track</h2>
            </div>
            <form>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Digite seu nome completo">
                </div>
                <div class="form-group">
                    <label for="Email">Endereço de email</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu email">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="senha" class="form-control" id="senha" placeholder="Senha">
                </div>
                <div class="form-group">
                    <label for="senha">Confirmar Senha</label>
                    <input type="senha" class="form-control" id="senha" placeholder="Confirme sua Senha">
                </div>
                <button type="submit">Cadastrar</button>
            </form>

        </div>
    </div>
    
    <script src="../Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../Plugins/fontawesome/js/all.min.js"></script>
</body>
</html>